.navbar-size {
    width: 95%;
    margin: 0 auto;
}

.main-body {
    background-color: #F28487;
    color: white;
    height: calc(100vh - 64px);
}

.materialboxed-image {
    height: 400px;
}

.card-title {
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
}
.book-img {
    height: 220px;
    width: 100%;
    object-fit: cover;
}

.book-title {
    font-size: 20px !important;
    background: rgba(0,0,0,0.4);
    padding: 5px 10px;
}
